@import "../setting/customization"
@keyframes slideInFromBottom
  0%
    transform: translateY(100%)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1
* 
    margin: 0
    padding: 0
body
    overflow: hidden
#ebookcraft
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    font-family: $font-family
    font-size: $font-size
    background: $bg-color
    h1
        font-size: $h1-size
    h2
        font-size: $h2-size
    #login
        padding: 20px
        border-radius: 10px
        background-color: $login-form-bg  
        width: $login-form-width
        height:$login-form-height     
        display: block
        #loginTitle
            color:$login-title-color
        #loginAbout
            color:$login-about-color
        label
            color:$login-form-label-color
        
        input
            margin-top:5%
            margin-bottom: 2%
            width: 100%
            color: $login-form-input-color
            border: $login-form-input-border
            padding-top: 1%
            padding-bottom: 1%
            font-size: $font-size
            border-radius: 5px
            &::placeholder
                color:$login-form-input-placeholder-color
            &[type='submit']
                padding: 2%
                border:0
                border-radius: 5px
                background: $login-button-bg
                cursor: pointer
                color: $login-button-color
                &:hover
                    background:  lighten($login-button-bg, 10%)
        
        #error
            background: $login-error-bg
            color: $login-error-color
            opacity: 50%
            padding: 2%
            border-radius: 5px
    

    #book
        width: 100vw
        height: 100vh
        iframe
            width: 100%
            height: 100%
            border: none
            padding: 0 10px 0 10px
        footer
            padding: 2%
            text-align: center
            position: absolute
            bottom: 5%
            left: 25%
            right: 25%
            max-width: 50%
            backdrop-filter: blur(10px)
            background-color: rgba(255, 255, 255, 0.5)
            border-radius: 50px
            display: flex
            justify-content: center
            align-items: center    
            animation: slideInFromBottom 1.0s ease-out 
            span
                border: 0
                width: 15%
                position: absolute
                cursor: pointer
                padding: 2%
                font-size: 50px
                border-radius: 50px
                &:hover
                    background: white
            .disabled
                opacity: 20%
                cursor: auto
                &:hover
                    background: none
            #back
                right: 0
            #forward
                left:0
.error
    border-color: red
    color: red
    border: 1px solid red
    
