/*WARNING: Don't delete any values*/
$font-family: Tahoma
$h1-size: 20
$h2-size: 18
$color: black
$bg-color: #dad9d9
$font-size: 12
/*Login*/
$login-form-bg: #FF5733
$login-form-width: 500px
$login-form-height: 350px
$login-button-bg: #FFC300
$login-button-color: #C70039
$login-title-color: #900C3F
$login-about-color: #581845
$login-form-label-color: #C70039
$login-form-input-bg: #FF5733
$login-form-input-color: #900C3F
$login-form-input-border: #C70039
$login-form-input-placeholder-color: #581845
$login-error-bg: #900C3F
$login-error-color: #FFC300
