/* src/styles/Book.module.css */

/* Define keyframes for slide animations */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Apply animation to the iframe */
.iframeContainer {
  position: relative;
}

.iframeSlideInLeft {
  animation: slideInFromLeft 0.5s forwards;
}

.iframeSlideInRight {
  animation: slideInFromRight 0.5s forwards;
}

.iframeSlideOutLeft {
  animation: slideOutToLeft 0.5s forwards;
}

.iframeSlideOutRight {
  animation: slideOutToRight 0.5s forwards;
}

.notebook {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}

.editor {
  min-height: 300px;
}

.noteook .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

#notebook-icon {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 50px;
  left: 10px;
  bottom: 10px;
  z-index: 1001;
}
